<table>
  <tbody>
  <% @entities.each do |entity| %>
    <tr>
      <td><%= entity.german %></td>
      <td><label><input type="checkbox" name="article" role="<%= 'correct' if entity.article == 'Der' %>">Der</label></td>
      <td><label><input type="checkbox" name="article" role="<%= 'correct' if entity.article == 'Die' %>">Die</label></td>
      <td><label><input type="checkbox" name="article" role="<%= 'correct' if entity.article == 'Das' %>">Das</label></td>
    </tr>
  <% end %>
  </tbody>
</table>