<%# if params[:show] %>
<table>
  <tbody>
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td></td>-->
<!--      <td><%# if params[:article] %><a href="/">[x]</a><%# end %></td>-->
<!--    </tr>-->
    <% @entities.each do |entity| %>
      <%# next if entity.done_article? %>
      <tr>
<!--        <td><input type="checkbox" name="similar" data-id="<%#= entity.id %>"></td>-->
        <td><%= entity.german %></td>
<!--        <td><%#= check_box_tag 'dictionary', 1, entity.done_article, data: { id: entity.id, role: 'done_article' } %></td>-->
<!--        <td><a href="?article=<%#= entity.article %>"><%#= entity.article %></a></td>-->
<!--        <td><%#= check_box_tag 'dictionary', 1, entity.done_german, data: { id: entity.id, role: 'done_german' } %></td>-->
        <td><%= entity.english %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Entity', new_entity_path %>

<%# end %>