<table>
  <tbody>
  <% @entities.take(Phrase::TAKE).each do |entity| %>
    <tr>
      <td>
        <input type="checkbox" name="similar_phrase" data-id="<%= entity.id %>">
        <%= entity.german %>
      </td>
      <% answers = (@dictionary - [entity.english]).shuffle.take(Phrase::ANSWERS - 1) << entity.english %>
      <% answers.shuffle.each do |answer| %>
        <td>
          <label>
            <input type="checkbox" name="article" role="<%= 'correct' if entity.english == answer %>"><%= answer.truncate(Phrase::TRUNCATE) %>
          </label>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>