<table>
  <tbody>
  <% @entities.take(100).each do |entity| %>
    <tr>
      <td><%= entity.english %></td>
      <% correct = "#{entity.article} #{entity.german}" %>
      <% answers = (@dictionary - [correct]).shuffle.take(2) << correct %>
      <% answers.shuffle.each do |answer| %>
        <td><label <%=raw color(answer) %>><input type="checkbox" name="article" role="<%= 'correct' if correct == answer %>"><%= answer %></label></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>